 h1 { color: purple; }
 
 body { 
 		background: black; 
 		color: red;
 		font size: 10pt; 
 		}
 		
 	body { font-family: 'Yatra One', cursive; }
 	
 	h1 { font-size: 300%;
     font-weight: bold;
     color: yellow }
     
h2 { font-size: 200%;
	font-style: italic }
	
	<tr>
    <td colspan="3">Table 1. Names and Zip Codes</td>
  </tr>






